﻿@{
    ViewBag.Title = "Create";
}
<form id="createProduct">
    <h2>Створення товару</h2>
    <label>Ім'я</label>
    <input name="Name" />
    <br />
    <label>Опис</label>
    <input name="Description" />
    <br />
    <label>Ціна</label>
    <input name="Price" />
    <br />
    <button id="saveBtn" type="button">Зберегти</button>
</form>
<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
               $("#actionContainer").html("");
            })
            .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
    });
</script>
