﻿@model Product
@{
    ViewBag.Title = "Edit";
}
<form id="editProduct">
    <h2>Редагування товару</h2>

    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Ім'я</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Опис</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Ціна</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button id="updateBtn" type="button">Зберегти</button>
</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
    });
</script>
