﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post" >
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Пошук</button>
    </form>
    <button type="button" id="newBtn">Новий</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>Назва продукту</td>
                <td>Категорія</td>
                <td>Ціна</td>
                <td>Дії</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" id="@product.ID">Редагувати</button>
                        <button class="deleteBtn" id="@product.ID">Видалити</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <script>
        $("#searchBtn").click(function () {
            var searchValue = $("#searchTxt").val();
            $.ajax({
                url: '/Product/ProductTable',
                data: {
                    search: searchValue
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);            
                })
                .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                    alert("FAIL");
                });
        });
        $("#newBtn").click(function () {
            $.ajax({
                url: '/Product/Create',
            })
                .done(function (response) {
                    $("#actionContainer").html(response);
                })
                .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                    alert("FAIL");
                });
        });

        $(".editBtn").click(function () {
            $.ajax({
                url: '/Product/Edit',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#actionContainer").html(response);
                })
                .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                    alert("FAIL");
                });
        });
        $(".deleteBtn").click(function () {
            var confirmDelete = confirm("Ви справді хочете видалити даний продукт?");
            if (confirmDelete == true) {
                $.ajax({
                    type: 'POST',
                    url: '/Product/Delete',
                    data: {
                        ID: $(this).attr('data-id')
                    }
                })
                    .done(function (response) {
                        $("#tableContainer").html(response);
                    })
                    .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                        alert("FAIL");
                    });
            }
        });

    </script>
