﻿@{
    ViewBag.Title = "Create";
}
    <form method="post">
        <h2>Створення категорії</h2>
        <label>Ім'я</label>
        <input name="Name" />    <br />
        <label>Опис</label>
        <input name="Description" />
        <br />
        <button type="submit">Зберегти</button>
    </form>


