﻿@model Shop.Entities.Category
@{
    ViewBag.Title = "Edit";
}
<form method="post">
    <h2>Редагування категорії</h2>
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Ім'я</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Опис</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button type="submit">Зберегти</button>
</form>
